{% extends 'base.html.twig' %}
{% block body %}
<main role="main">
	<div class="container">
		<div class="row">
			

			<div class="col-md-12 ">	
				<div class="row">
					{% for recipe in recipes %}
					<div class="col-md-4">							
						{# if #}
						<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" 
							alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" 
							src="{{recipe.getImagePath()}}" data-holder-rendered="true">
						<h2>{{ recipe.nameRecipe }}</h2>
						<div class="row">
							<div class="col-md-4">
								<p>Автор: </p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-1">
								<img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 25px; width: 25px;" 
									src="meat1.png">
							</div>
							<div class="col-md-4">
								<p>{{ recipe.portion }} порции </p>
							</div>
							<div class="col-md-1">
								<img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 25px; width: 25px;"
									src="preparation.png">
							</div>
							<div class="col-md-6">
								<p>Время: {{ recipe.time }} минут</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-auto">
								<a class="btn btn-secondary my-2" href="{{ path('recipe_show', {'id': recipe.id}) }}" role="button">Рецепт »</a>
							</div>
							
							<div class="col-md-auto">
								<a class="btn btn-secondary my-2" href="{{ path('recipe_edit', {'id': recipe.id}) }}" role="button">Редактировать</a>
							</div>
							<div class="col-md-auto">
								{{ include('recipe/_delete_form.html.twig') }}
							</div>	
						</div>
						<p></p>
					</div>
					{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
				</div>
				<hr>
				<div class="container">
					<nav aria-label="Page navigation example">
						{{ knp_pagination_render(recipes) }}
					</nav>
				</div>	
			</div>
		</div>
	</div> 
</main>
{% endblock %}
